# Series

In [1]:
import pandas as pd

## Create a Series Object from a List
- A pandas **Series** is a one-dimensional labelled array.
- A Series combines the best features of a list and a dictionary.
- A Series maintains a single collection of ordered values (i.e. a single column of data).
- We can assign each value an identifier, which does not have to *be* unique.

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream, name="Ice Cream Flavors")

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
Name: Ice Cream Flavors, dtype: object

In [3]:
lottery_numbers = [4,3,4,15,33,28]
pd.Series(lottery_numbers)

0     4
1     3
2     4
3    15
4    33
5    28
dtype: int64

## Create a Series Object from a Dictionary

In [4]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}
pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

## Intro to Series Methods
- The syntax to invoke a method on any object is `object.method()`.
- The `sum` method adds together the **Series'** values.
- The `product` method multiplies the **Series'** values.
- The `mean` method finds the average of the **Series'** values.
- The `std` method finds the standard deviation of the **Series'** values.

In [5]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [6]:
prices.sum()

np.float64(8.8)

In [7]:
prices.product()

np.float64(18.095480000000006)

In [8]:
prices.std()

1.5457791994115246

## Intro to Attributes
- An **attribute** is a piece of data that lives on an object.
- An **attribute** is a fact, a detail, a characteristic of the object.
- Access an attribute with `object.attribute` syntax.
- The `size` attribute returns a count of the number of values in the **Series**.
- The `is_unique` attribute returns True if the **Series** has no duplicate values.
- The `values` and `index` attributes return the underlying objects that holds the **Series'** values and index labels.

In [9]:
adjetives = pd.Series(["Smart","Handsome","Charming","Brilliant","Humble","Smart"])
adjetives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [10]:
adjetives.size

6

In [11]:
adjetives.is_unique

False

In [12]:
adjetives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble', 'Smart'],
      dtype=object)

In [13]:
adjetives.index

RangeIndex(start=0, stop=6, step=1)

In [14]:
type(adjetives.values)

numpy.ndarray

## Parameters and Arguments
- A **parameter** is the name for an expected input to a function/method/class instantiation.
- An **argument** is the concrete value we provide for a parameter during invocation.
- We can pass arguments either sequentially (based on parameter order) or with explicit parameter names written out.
- The first two parameters for the **Series** constructor are `data` and `index`, which represent the values and the index labels.

In [15]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

In [16]:
# Look the docstring of a function in Pandas Shift + Tab
pd.Series(fruits)

0         Apple
1        Orange
2          Plum
3         Grape
4     Blueberry
5    Watermelon
dtype: object

In [17]:
pd.Series(weekdays)

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5       Monday
dtype: object

In [18]:
pd.Series

pandas.core.series.Series

## Import Series with the pd.read_csv Function
- A **CSV** is a plain text file that uses line breaks to separate rows and commas to separate row values.
- Pandas ships with many different `read_` functions for different types of files.
- The `read_csv` function accepts many different parameters. The first one specifies the file name/path.
- The `read_csv` function will import the dataset as a **DataFrame**, a 2-dimensional table.
- The `usecols` parameter accepts a list of the column(s) to import.
- The `squeeze` method converts a **DataFrame** to a **Series**.

In [19]:
pokemon = pd.read_csv("pokemon.csv",usecols=["Name"]).squeeze("columns") # Call dataframe from a csv file
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [20]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

## The head and tail Methods
- The `head` method returns a number of rows from the top/beginning of the `Series`.
- The `tail` method returns a number of rows from the bottom/end of the `Series`.

In [21]:
pokemon.head(10)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Name, dtype: object

In [22]:
google.tail(6)

4787    130.139999
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, dtype: float64

## Passing Series to Python's Built-In Functions
- The `len` function returns the length of the **Series**.
- The `type` function returns the type of an object.
- The `list` function converts the **Series** to a list.
- The `dict` function converts the **Series** to a dictionary.
- The `sorted` function converts the **Series** to a sorted list.
- The `max` function returns the largest value in the **Series**.
- The `min` function returns the smalllest value in the **Series**.

In [23]:
len(pokemon)

1010

In [24]:
type(google)

pandas.core.series.Series

In [25]:
list(pokemon.head(3))

['Bulbasaur', 'Ivysaur', 'Venusaur']

In [26]:
dict(pokemon.tail(3))

{1007: 'Miraidon', 1008: 'Walking Wake', 1009: 'Iron Leaves'}

In [27]:
sorted(pokemon.head(15))

['Beedrill',
 'Blastoise',
 'Bulbasaur',
 'Butterfree',
 'Caterpie',
 'Charizard',
 'Charmander',
 'Charmeleon',
 'Ivysaur',
 'Kakuna',
 'Metapod',
 'Squirtle',
 'Venusaur',
 'Wartortle',
 'Weedle']

## Check for Inclusion with Python's in Keyword
- The `in` keyword checks if a value exists within an object.
- The `in` keyword will look for a value in the **Series's** index.
- Use the `index` and `values` attributes to access "nested" objects within the **Series**.
- Combine the `in` keyword with `values` to search within the **Series's** values.

In [28]:
"Pikachu" in pokemon.values

True

## The sort_values Method
- The `sort_values` method sorts a **Series** values in order.
- By default, pandas applies an ascending sort (smallest to largest).
- Customize the sort order with the `ascending` parameter.

In [29]:
google.sort_values()

10        2.470490
0         2.490664
13        2.509095
11        2.514326
1         2.515820
           ...
4336    150.000000
4341    150.000000
4346    150.141754
4345    151.000000
4395    151.863495
Name: Price, Length: 4793, dtype: float64

In [30]:
google.sort_values(ascending=True)

10        2.470490
0         2.490664
13        2.509095
11        2.514326
1         2.515820
           ...
4336    150.000000
4341    150.000000
4346    150.141754
4345    151.000000
4395    151.863495
Name: Price, Length: 4793, dtype: float64

In [31]:
google.sort_values(ascending=False)

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
           ...
1         2.515820
11        2.514326
13        2.509095
0         2.490664
10        2.470490
Name: Price, Length: 4793, dtype: float64

## The sort_index Method
- The `sort_index` method sorts a **Series** by its index.
- The `sort_index` method also accepts an `ascending` parameter to set sort order.

## Extract Series Value by Index Position
- Use the `iloc` accessor to extract a **Series** value by its index position.
- `iloc` is short for "index location".
- Python's list slicing syntaxes (slices, slices from start, slices to end, etc.) are supported with **Series** objects.

In [32]:
pokemon.iloc[0] # We use square brakets, it is not a method

'Bulbasaur'

In [33]:
pokemon.iloc[[100, 200, 300]] # Looking for more than 1 index value

100    Electrode
200        Unown
300     Delcatty
Name: Name, dtype: object

In [34]:
pokemon.iloc[100:110] # We can use slicing with iloc
pokemon.iloc[1:10:2] # From 2 to 2

1       Ivysaur
3    Charmander
5     Charizard
7     Wartortle
9      Caterpie
Name: Name, dtype: object

## Extract Series Value by Index Label
- Use the `loc` accessor to extract a **Series** value by its index label.
- Pass a list to extract multiple values by index label.
- If one index label/position in the list does not exist, Pandas will raise an error.

In [35]:
pokemon_index = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon_index.loc["Bulbasaur"] # This look for a index label

'Grass, Poison'

In [36]:
pokemon_index.loc[["Bulbasaur", "Pikachu", "Charizard"]] # Looking for more than one

Name
Bulbasaur    Grass, Poison
Pikachu           Electric
Charizard     Fire, Flying
Name: Type, dtype: object

## The get Method on a Series
- The `get` method extracts a **Series** value by index label. It is an alternative option to square brackets.
- The `get` method's second argument sets the fallback value to return if the label/position does not exist.

In [37]:
pokemon_index.get("Digimon", "Nonexistent") # Prevent errors, same that loc[]

'Nonexistent'

## Overwrite a Series Value
- Use the `loc/iloc` accessor to target an index label/position, then use an equal sign to provide a new value.

In [38]:
pokemon_index.loc["Pikachu"] = 'Electricity' # We are able to replace values through this iloc and loc
pokemon_index["Pikachu"]

'Electricity'

## The copy Method
- A **copy** is a duplicate/replica of an object.
- Changes to a copy do not modify the original object.
- A **view** is a different way of looking at the *same* data.
- Changes to a view *do* modify the original object.
- The `copy` method creates a copy of a pandas object.

In [39]:
pokemon_copy = pokemon_index.copy() # Creates a copy independent of original Series
pokemon_copy.loc["Ivysaur"] = 'Grass / Poison' # This change is not a view or reference
pokemon_copy.head()

Name
Bulbasaur      Grass, Poison
Ivysaur       Grass / Poison
Venusaur       Grass, Poison
Charmander              Fire
Charmeleon              Fire
Name: Type, dtype: object

In [40]:
pokemon_index.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

## Math Methods on Series Objects
- The `count` method returns the number of values in the **Series**. It excludes missing values; the `size` attribute includes missing values.
- The `sum` method adds together the **Series's** values.
- The `product` method multiplies together the **Series's** values.
- The `mean` method calculates the average of the **Series's** values.
- The `std` method calculates the standard deviation of the **Series's** values.
- The `max` method returns the largest value in the **Series**.
- The `min` method returns the smallest value in the **Series**.
- The `median` method returns the median of the **Series** (the value in the middle).
- The `mode` method returns the mode of the **Series** (the most frequent alue).
- The `describe` method returns a summary with various mathematical calculations.

In [41]:
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [42]:
google.count()

np.int64(4793)

In [43]:
google.sum()

np.float64(192733.129338)

In [44]:
pd.Series([1,2,3,4]).product()

np.int64(24)

In [45]:
google.describe()

count    4793.000000
mean       40.211377
std        37.274753
min         2.470490
25%        12.767395
50%        26.327717
75%        56.311001
max       151.863495
Name: Price, dtype: float64

## Broadcasting
- **Broadcasting** describes the process of applying an arithmetic operation to an array (i.e., a **Series**).
- We can combine mathematical operators with a **Series** to apply the mathematical operation to every value.
- There are also methods to accomplish the same results (`add`, `sub`, `mul`, `div`, etc.)

In [46]:
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [47]:
google.add(10) # Adds 10 to the entire Serie

0        12.490664
1        12.515820
2        12.758411
3        12.770615
4        12.614201
           ...
4788    142.080002
4789    142.998001
4790    145.570007
4791    147.050003
4792    148.429993
Name: Price, Length: 4793, dtype: float64

In [48]:
google.sub(10)

0        -7.509336
1        -7.484180
2        -7.241589
3        -7.229385
4        -7.385799
           ...
4788    122.080002
4789    122.998001
4790    125.570007
4791    127.050003
4792    128.429993
Name: Price, Length: 4793, dtype: float64

## The value_counts Method
- The `value_counts` method returns the number of times each unique value occurs in the **Series**.
- The `normalize` parameter returns the relative frequencies/percentages of the values instead of the counts.

In [49]:
pokemon_index.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [50]:
pokemon_index.value_counts()

Type
Water               74
Normal              74
Grass               46
Psychic             39
Fire                36
                    ..
Rock, Electric       1
Dark, Ground         1
Dragon, Dark         1
Fairy, Fighting      1
Fighting, Dragon     1
Name: count, Length: 201, dtype: int64

## The apply Method
- The `apply` method accepts a function. It invokes that function on every `Series` value.

In [51]:
pokemon.head() # Get the len for each element of a Series

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [52]:
pokemon.apply(len)

0        9
1        7
2        8
3       10
4       10
        ..
1005    12
1006     8
1007     8
1008    12
1009    11
Name: Name, Length: 1010, dtype: int64

## The map Method
- The `map` method "maps" or connects each **Series** values to another value.
- We can pass the method a dictionary or a **Series**. Both types connects keys to values.
- The `map` method uses our argument to connect or bridge together the values.

In [53]:
pokemon_index

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [54]:
attack_powers = {
    "Grass, Poison": 15,
    "Water, Dragon": 20,
    "Fire": 20
}

pokemon_index.map(attack_powers)

Name
Bulbasaur       15.0
Ivysaur         15.0
Venusaur        15.0
Charmander      20.0
Charmeleon      20.0
                ...
Iron Valiant     NaN
Koraidon         NaN
Miraidon         NaN
Walking Wake    20.0
Iron Leaves      NaN
Name: Type, Length: 1010, dtype: float64