In [34]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [19]:
df = pd.read_csv('Datos regresion.csv', encoding='latin-1')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   293 non-null    int64
 1   Gender               284 non-null    object
 2   Age                  293 non-null    int64
 3   Experiencia laboral  281 non-null    float64
 4   Años de educación    288 non-null    float64
 5   Estado civil         237 non-null    object
 6   Salary               293 non-null    int64
 7   Buyer                287 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 18.4+ KB

In [23]:
q1 = df_dropna['Age'].quantile(0.25)
q3 = df_dropna['Age'].quantile(0.75)
q3 - q1

np.float64(21.0)

In [21]:
df_dropna = df.dropna()
df_dropna.shape

(219, 8)

In [8]:
df_moda = df['Estado civil'].fillna(df['Estado civil'].mode()[0], inplace=True)
df_moda

C:\Users\chris\AppData\Local\Temp\ipykernel_12580\2966515482.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_moda = df['Estado civil'].fillna(df['Estado civil'].mode()[0], inplace=True)

In [9]:
df.groupby('Estado civil').agg("count")

,ID,Gender,Age,Experiencia laboral,Años de educación,Salary,Buyer
Estado civil,,,,,,,
Casado,59,58,59,59,59,59,58
Divorciado,60,58,60,59,60,60,60
Estado civil,1,1,1,1,1,1,1
Soltero,56,55,56,51,53,56,53
Union libre,117,112,117,111,115,117,115

In [45]:
print(IQR)
df.describe()

24.0

,ID,Age,Experiencia laboral,Años de educación,Salary
count,293.000000,293.000000,281.000000,288.000000,2.930000e+02
mean,146.000000,45.358362,30.530249,12.916667,2.800186e+06
std,84.726029,20.731765,14.284606,8.103855,1.374866e+06
min,0.000000,-42.000000,4.000000,2.000000,-6.900000e+06
25%,73.000000,32.000000,19.000000,7.000000,2.399000e+06
50%,146.000000,44.000000,26.000000,11.000000,2.846000e+06
75%,219.000000,56.000000,39.000000,17.000000,3.200000e+06
max,292.000000,210.000000,78.000000,75.000000,8.200000e+06

In [44]:
q1 = df['Age'].quantile(0.25)
q3 = df['Age'].quantile(0.75)
IQR = q3 - q1

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   293 non-null    int64
 1   Gender               284 non-null    object
 2   Age                  293 non-null    int64
 3   Experiencia laboral  281 non-null    float64
 4   Años de educación    288 non-null    float64
 5   Estado civil         293 non-null    object
 6   Salary               293 non-null    int64
 7   Buyer                287 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 18.4+ KB

In [31]:
z_std = df_dropna['Age'].std() 
z_mean = df_dropna['Age'].mean()
z_score = (40 - z_mean) / z_std
z_score

np.float64(-0.2751112274752657)

In [32]:
df_dropna.groupby('Buyer').agg('count')

,ID,Gender,Age,Experiencia laboral,Años de educación,Estado civil,Salary
Buyer,,,,,,,
NO,105,105,105,105,105,105,105
No,3,3,3,3,3,3,3
SI,106,106,106,106,106,106,106
Si,4,4,4,4,4,4,4
si,1,1,1,1,1,1,1

In [43]:
Z

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.