In [2]:
import pandas as pd

# We have a hot_dogs.csv CSV file with 2 columns: Year and Winner.
# The dataset stores the winner of the world-famous Nathan's Hot Dog Eating
# contest for each year since 1967. You can explore the data by clicking into 
# the CSV file on the left.

In [11]:
# Import the CSV file into a pandas Series object
# The Series should have the standard pandas numeric index
# The Series values should be the string values from the "Winner" column
# Assign the Series object to a "hot_dogs" variable

hot_dogs = pd.read_csv("hotdogs.csv", usecols=["Winner"])
hot_dogs

               Winner
0       Joey Chestnut
1       Joey Chestnut
2       Joey Chestnut
3       Joey Chestnut
4       Joey Chestnut
5       Joey Chestnut
6         Matt Stonie
7       Joey Chestnut
8       Joey Chestnut
9       Joey Chestnut
10      Joey Chestnut
11      Joey Chestnut
12      Joey Chestnut
13      Joey Chestnut
14      Joey Chestnut
15   Takeru Kobayashi
16   Takeru Kobayashi
17   Takeru Kobayashi
18   Takeru Kobayashi
19   Takeru Kobayashi
20   Takeru Kobayashi
21      Kazutoyo Arai
22       Steve Keiner
23  Hirofumi Nakajima
24  Hirofumi Nakajima
25  Hirofumi Nakajima
26         Ed Krachie
27         Ed Krachie
28        Mike DeVito
29        Mike DeVito
30        Mike DeVito
31  Frankie Dellarosa
32  Frankie Dellarosa
33        Mike DeVito
34          Jay Green
35          Jay Green
36        Don Wolfman
37        Mark Heller
38   Hiroaki Tominaga
39    Oscar Rodriguez
40      Birgit Felden
41         Emil Gomez
42      Steven Abrams
43     Thomas DeBerry
44        Joe Baldini
45        Jim Mattner
46   Manel Hollenback
47       Lonnie Brown
48     Roberto Muriel
49      John Connolly
50            Unknown
51            Unknown
52    Melody Andorfer
53    Jason Schechter
54        Walter Paul

In [18]:
# I'm curious how many times each winner has won the hot dog-eating contest.
# Create a new Series that shows each person's name (index labels) 
# and the number of times they've won (the values). What method can
# help you generate this Series?
# Asssign the Series to a "names_and_wins" variable.
names_and_wins = pd.Series(hot_dogs.value_counts(), index=["Winner"])
names_and_wins

Winner   NaN
Name: count, dtype: float64